/*	
This file is part of schades.

   schades is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   schades is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with schades.  If not, see <http://www.gnu.org/licenses/>.
*/
/**
*	@file styles.css
*	
*	@author Michal Sudwoj <mswoj61@gmail.com>
*	@copyright Michal Sudwoj
*	@link http://www.sourceforge.com/projects/schades/
*	@licence http://www.fsf.org/licensing/licenses/agpl-3.0.html AGPL 3.0
*	@version 0.8
*	
*	@brief CSS of the site.
*/

.toolcell {
	border-style: solid ;
	border-width: 1px ;
	text-align: center ;
}

.toolcell:hover {
	background-color: black ;
	color: white ;
}

.loading {
	text-align: center ;
	font-size: 40px ;
}

.u {
	background-color: gray ;
	color: gray ;
	text-align: center ;
}

.t {
	background-color: green ;
	color: green ;
	text-align: center ;
}

.o {
	background-color: cyan ;
	color: cyan ;
	text-align: center ;
}

.x {
	background-color: yellow ;
	color: yellow ;
	text-align: center ;
}

.p {
	background-color: red ;
	color: red ;
	text-align: center ;
}

.e {
	background-color: blue ;
	color: blue ;
	text-align: center ;
}

.f {
	background-color: black ;
	color: black ;
	text-align: center ;
}

table.toolbar {
	width: 100% ;
}